{# filepath: d:\my projects\my_mongo_app\templates\user\create.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
</head>
<body>
    <h1>Create User</h1>
    <form method="post">
        <label>Name:</label>
        <input type="text" name="name" required><br>
        <label>Email:</label>
        <input type="email" name="email" required><br>
        <label>Age:</label>
        <input type="number" name="age" required><br>
        <button type="submit">Create</button>
    </form>
</body>
</html>